@using CarDealership.Data.Models;
@using static CarDealership.Common.AdminRole;
@model List<GeneralManager>

<h2 class="text-center mb-5" style="text-align: center">List of @Model.Count General Managers</h2>

<div class="row mb-5">
    <div class="col">
         @if (User.IsInRole(AdminRoleName))
        {
            <center><a class="btn btn-primary" asp-area="" asp-controller="GeneralManager" asp-action="Create" style="padding: 6px 12px; border-radius: 5px; cursor: pointer;">New General Manager</a></center>
        }
    </div>
</div>

<div class="car-container">
    @foreach (var generalManager in Model)
    {
        <div class="car-card card">
            <div class="card-body">
                <h5 class="card-title">@generalManager.FirstName @generalManager.LastName</h5>
                <p class="card-text">
                    <strong>Email:</strong> @generalManager.Email<br>
                    <strong>Phone Number:</strong> @generalManager.PhoneNumber<br>
                    <strong>Hire Date:</strong> @generalManager.HireDate<br>
                    <strong>Salary:</strong> $@generalManager.Salary<br>

                    <!-- Информация за Dealership -->
                    <strong>Dealership:</strong> @generalManager.Dealerships.Name
                </p>
            </div>
            <div class="card-footer">
                @if (User.IsInRole(AdminRoleName))
                {
                    <a class="btn btn-warning btn-sm" asp-controller="GeneralManager" asp-action="Edit" asp-route-id="@generalManager.GeneralManagerId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="GeneralManager" asp-action="Delete" asp-route-id="@generalManager.GeneralManagerId" onclick="return confirm('Are you sure?')">Delete</a>
                }
            </div>
        </div>
    }
</div>
