@using CarDealership.Data.Models;
@using static CarDealership.Common.AdminRole;
@model List<DealershipsCars>

<h2 class="text-center mb-5">List of @Model.Count Dealership Cars</h2>

<div class="row mb-5">
    <div class="col text-center">
        @if (User.IsInRole(AdminRoleName))
        {
            <a class="btn btn-primary" asp-area="" asp-controller="DealershipCars" asp-action="Create">New Dealership Car</a>
        }
    </div>
</div>

<div class="car-container">
    @foreach (var item in Model)
    {
        <div class="car-card card">
            <div class="card-body">
                <h5 class="card-title">@item.Car.Brand.BrandName @item.Car.Model</h5>
                <p class="card-text">
                    <strong>Year:</strong> @item.Car.Year<br>
                    <strong>Kilometers:</strong> @item.Car.Kilometers<br>
                    <strong>Price:</strong> @item.Car.Price
                </p>
                <p class="card-text">
                    <strong>Dealership:</strong> @item.Dealership.Name<br>
                    <strong>Location:</strong> @item.Dealership.Location
                </p>
            </div>
        </div>
    }
</div>
