@using CarDealership.Data.Models;
@using static CarDealership.Common.AdminRole;
@model List<Brand>

<h2 class="text-center mb-5" style="text-align: center">List of @Model.Count Brands</h2>

<div class="row mb-5">
    <div class="col">
         @if (User.IsInRole(AdminRoleName))
        {
            <center><a class="btn btn-primary" asp-area="" asp-controller="Brand" asp-action="Create" style="padding: 6px 12px; border-radius: 5px; cursor: pointer;">New Brand</a></center>
        }
    </div>
</div>

<!-- Контейнерът, който ще държи картите на един ред -->
<div class="car-container">
    @foreach (var brand in Model)
    {
        <div class="car-card card">
            <div class="card-body">
                <h5 class="card-title">@brand.BrandName</h5>
                <p class="card-text">
                    <strong style="font-size = 16px;">Models:</strong><br>
                    <!-- Проверяваме дали има модели за тази марка -->
                    @if (brand.Cars != null && brand.Cars.Any())
                    {
                        <ul>
                            @foreach (var models in brand.Cars)
                            {
                                <li>@models.Model</li>
                            }
                        </ul>
                    }
                    else
                    {
                    <p>No Models assigned</p>
                    }
                </p>
            </div>
            <div class="card-footer">
                @if (User.IsInRole(AdminRoleName))
                {
                    <a class="btn btn-warning btn-sm" asp-controller="Brand" asp-action="Edit" asp-route-id="@brand.BrandId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Brand" asp-action="Delete" asp-route-id="@brand.BrandId" onclick="return confirm('Are you sure?')">Delete</a>
                }
            </div>
        </div>
    }
</div>
